body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #f3f2f2;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
	color: #0a0a0a;
}

em strong {
	color: #201e1e;
color: #040303;

.itens {
	font-style: italic
}

.beneficios {
	background: #0a0a0a;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}